<div class="navbar navbar-default">
    <div class="container-fluid">
        <h3><i class="fa fa-building"></i> Test SRM</h3>
    </div>
</div>
<div class="container-fluid">
    <form ng-submit="saveCredit()">
        <div class="well">
            <div class="row">
                <div class="col-xs-12">
                    <label class="control-label">Nome Cliente:
                        <input type="text" ng-model="creditAnalysis.name" class="form-control" required maxlength="64">
                    </label>
                </div>
                <div class="col-xs-12">
                    <label class="control-label">Limite de crédito:
                        <input type="number" ng-model="creditAnalysis.creditLimit" class="form-control" required min="0">
                    </label>
                </div>
                <div class="col-xs-12">
                    <label class="control-label">Risco:
                        <select ng-model="creditAnalysis.risk" ng-options="risk as risk for risk in riskTypes" class="form-control" required>
                        </select>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <button class="btn btn-success" type="submit">Salvar</button>
                </div>
            </div>
        </div>
    </form>
</div>